html{
  font-family: "Times New Roman","Segoe UI Symbol", serif;

}
body{ 
	margin:0;  
	background: linear-gradient(#f4beff 0%,#a9bdff  100%);
}
nav{
	position: fixed;
	display: flex; 
	flex-direction: row;
	align-items: stretch;
	height: 10vh;
	width: 100%;
	background-color: #1a0640;

}
nav a{
	display: flex;
	flex-direction:column;
	align-items: center;  
	justify-content: center;
	font-weight: 800;
	flex-grow: 1;
}
main>article{
	outline: dashed 2px white;
	margin: 0;
	height: 75vh;
	background-color: #1a064088;
	border-radius: 5%;
	margin:2vh; 
	text-align: center;

	padding: 1vh;
	color: white;
	
}

header{
	height: 10vh;
	width: 100%;

}

ion-icon
{
	background-color: white; 
	border-radius: 40%; 
	padding: 1vh;
	color: #adcdff;
}

nav>a{
	color: white;
}

table{
	border
	background-color: #ffffff58;
	outline: dashed 1px white;
	margin: 0 auto;


}
caption
{
	background-color: #ffffff88;
}

tr:nth-child(2n+1){
		background-color: #ffffff58;
}

img
{
	margin: 0.5vh;
	width: 9vh;
	height: 9vh;
	
}

footer{
	height: 5vh;
	width: 100%;
	text-align: center;
	background-color: #1a0640;
	color: white;
	padding: 0.5vh;


}